$primary:#dfe1e6;
$secondary:#fff;
$headerHeight:50px;


body{
	background-color: $primary;
	padding-top:$headerHeight+10px; 
	&,*{

		box-sizing:border-box;
	}

	header{
		background-color:$secondary;
		position: fixed;
		top:0;
		left:0;
		right:0;
		padding:0 30px;
		z-index: 999;
		line-height: $headerHeight;
		height: $headerHeight;
		box-shadow: 2px 6px 12px #ccc;
		h1{
			font-size: 18px;
			font-weight:bold;
			font-family: cursive;

		}
	}
	.sort-type{
		margin:10px;
	}
	.pill-cont{
		width: 250px;
		border-radius: 10px;
		display: inline-table;
		.pill-btn{
			display: table-cell;
			width: 50%;
			input[type="radio"]{
				display: none;
				&:checked+.pill-label{
					color:#fff;
					border-color: rgb(65,164,255);
					background-color:rgb(65,164,255);
				}
			}
			&:not(:last-child){
				.pill-label{
					border-left:1px solid #ccc;
				}
			}
			&:first-child{
				border-radius: 10px 0 0 10px;
				.pill-label{
					border-radius: 10px 0 0 10px;
				}	
			}

			&:last-child{
				border-radius: 0 10px 10px 0;
				.pill-label{
					border-radius: 0 10px 10px 0;
				}	
			}
			.pill-label{
				text-align: center;
				cursor: pointer;
				border:1px solid #ccc;
				padding: 0 10px;
				display: block;
				height: 40px;
				line-height: 40px;
				
			}
		}
	}
	.radio-grp{
		margin:0 10px;
		padding: 10px 0;
		.radio-btn{
			display: inline-block;
			position: relative;
			input[type="radio"]{
				display: none;
				+.radio-icon{
					position: absolute;
					top: 0;
					left: 0;
					border:1px solid #ccc;
					height: 20px;
					width: 20px;
					padding: 2.5px;
					display: inline-block;
					border-radius:50%; 
					>div{

					}
					+.radio-label{
						padding-left:30px;
						display: inline-block;
						height: 20px;
						line-height: 20px;
					}
				}
			}
		}

	}
	.search-bar{
	    margin: 0 10px;
    	display: flex;
		height: 40px;
		border:1px solid #999;
		border-radius:5px;
		input{
			height: 38px;
			width: calc(100% - 40px);
			border:none;
			padding:0 30px;
			border-radius:5px 0 0 5px;
			outline: none;

		}
		button.search-btn{
			height: 38px;
			width:40px;
			background-color:#ccc;
			border:none;
			border-radius:0 5px 5px 0
		}
	}
	.container{
		&:not(.is-loading){
			.loader{
				display: none;
			}
		}
		&.is-loading{
			width: 100%;
			display: table;
			.card-list{
				display: none;
			}
		}
		.loader {
		  color: rgb(65,164,255);
		  display: table-cell;
		  font-family: Consolas, Menlo, Monaco, monospace;
		  font-weight: bold;
		  font-size:30vh;
		  text-align: center;
		  opacity: 0.8;

		  span {
		    display: inline-block;
		    animation: pulse 0.4s alternate infinite ease-in-out;

		    &:nth-child(odd) {
		      animation-delay: 0.4s;
		    }
		  }
		}

		@keyframes pulse {
		  to {
		    transform: scale(0.8);
		    opacity: 0.5;
		  }
		}
	}
	.card-list {
			padding-top: 10px;
			display: flex;
			flex-wrap: wrap;
	}
		/* Float four columns side by side */
	.column {
	  float: left;
	  width: 33%;
	  padding: 5px 10px;

		@media screen and (max-width: 600px) {
		    width: 100%;
		    display: block;
		}
	}
	.card {
  		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  		//padding: 16px;
  		padding-top:20px;
  		height: 200px;
  		text-align: center;
  		background-color: #f1f1f1;
  		position:relative;
  		background-repeat: no-repeat,repeat,repeat;
  		background-size:contain,auto,cover;
  		background-position:center;
  		&:hover{
  			.movie-content{
  				background-color:rgba(#000, 0.9);
  			}
  		}
  		.movie-poster{
  			height: calc(100% - 45px);
  			width: 100%;

  			background-repeat: no-repeat,no-repeat;
  			background-size:contain,cover;
  			filter: blur(8px);
  			background-position:center;
  		}
  		.movie-content{
  			background-color:rgba(#000, 0.5);
  			transition: background-color 500ms;
  			color: #fff;
  			height: 45px;
  			#edit-titlt{

  			}
  			input{
  				outline: none;
  				box-shadow:none;
	  			display: block;
  				background-color:transparent;
  				color: #fff;
  				font-size:12px;
  				width: 130px;
	  			margin:0 auto;
  				text-align: center;
  				border:none;
  				border-bottom:1px solid #fff;
  			}
	  		h3,#edit-title{
	  			font-weight: bold;
	  			margin-bottom: 5px; 
	  			height: 20px;
	  			line-height: 20px;
	  		}
	  		>span,#edit-year{
	  			height: 20px;
	  			line-height: 20px;
	  		}
	  		p{
	  			display: -webkit-box;
	  			overflow : hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;  
	  		}
  		}
	}
	.btn-group{
		position:absolute;
		top:0;
		padding: 5px;
		right:0;
		.btn {
	  		background-color: #ccc;
	  		border: none;
	  		height: 30px;
	  		width: 30px;
	  		color: white;
	  		padding:0;
	  		font-size: 12px;
	  		cursor: pointer;
	  		border-radius:50%;
	  		transition: all 500ms;
	  		&.btn-delete{
		  		color: #fff;
		  		background-color:#a72626;
				border: 1px solid #a72626;
		  		&:hover{
		  			color: #a72626;
			  		background-color:#fff;

		  		}
		  	}
		  	&.btn-edit{
		  		color: #fff;
		  		background-color:rgb(65,164,255);
				border: 1px solid rgb(65,164,255);
		  		&:hover{
		  			color: rgb(65,164,255);
			  		background-color:#fff;

		  		}
		  	}
		  	i{
		  		font-size: 12px;
		  		line-height: 20px;
		  		text-align: center;
		  	}
		}
	}
	.btn-add {
  		background-color : #31B0D5;
  		color: white;
  		border-radius: 4px;
  		width: 50px;
  		border:1px solid #46b8da;
	  	height: 50px;
  		text-align: center;
  		border-radius:50%;
	}
	#mybutton {
	  position: fixed;
	  bottom: 10px;
	  right: 10px;
	  width: 50px;
	  height: 50px;
	  
	}
}

	/* Responsive columns */

/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -5px;
	padding:5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding:5px;
}

/* Style the counter cards */